p {
    font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pizza {
    width: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 10px;
}

.pizza img {
    width: 100%;
}

.pizza div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pizza_ingredients {
    font-size: 16px;
}

.pizza_name {
    font-size: 20px;
    font-weight: bold;
}

.pizza p {
    margin: 5px 10px;
}

.pizza_price {
    font-size: 20px;
    font-weight: bold;
}

.pizza_price_menu::before {
    content: "от ";
}

.pizza_price::after {
    content: " ₽";
}

.pizzas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 40px auto 0 auto;
}

.form_item {
    margin-bottom: 10px;
}

.order input {
    display: none;
}

.order_item {
    display: flex;
    justify-content: space-around;
}

.order {
    width: 500px;
    margin: 40px auto;
}

.button_plus {
    border: 1px solid gray;
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.selectable_list {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.selected_button {
    pointer-events: none;
    background-color: lightgreen;
}

.disabled_button {
    pointer-events: none;
    background-color: gray;
}

.selectable_list button {
    border-radius: 100px;
    padding: 5px;
}
